@inject AgregarPolizaUseCase AgregarPolizaUseCase;
@inject ModificarPolizaUseCase ModificarPolizaUseCase;
@inject GetPolizaUseCase GetPolizaUseCase;
@inject ListarVehiculosUseCase ListarVehiculosUseCase;


@if(Visible){
    <div>
        @if(_modificar){
            <PageTitle>Modificar póliza</PageTitle>
            <h1>Modificar a la póliza: @_poliza.Id</h1>
        }
        else{
            <PageTitle>Agregar póliza</PageTitle>
            <h1>Agregar una póliza</h1>
        }
        <div class="form-floating mb-3">
            <input class="form-control" id="valor-aseg" type="text" placeholder="Valor asegurado" @bind="_poliza.ValorAsegurado">
            <label for="valor-aseg" class="form-label">Valor asegurado</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="franquicia" type="text" placeholder="Franquicia" @bind="_poliza.Franquicia">
            <label for="franquicia" class="form-label">Franquicia</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="tipo-cobert" type="text" placeholder="Tipo de cobertura" @bind="_poliza.TipoDeCobertura">
            <label for="tipo-cobert" class="form-label">Tipo de cobertura</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control @(_classFecha)" id="fecha-inicio" type="date" min="2010-01-01" max="2024-06-19" placeholder="Fecha de inicio de la vigencia" @bind="_poliza.FechaInicioVigencia">
            <label for="fecha-inicio" class="form-label">Fecha de inicio de la vigencia</label>
            <div class="invalid-feedback">
                La fecha de inicio de vigencia de la póliza no puede<br>ser posterior a su fecha de finalización
            </div>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control @(_classFecha)" id="fecha-fin" type="date" min="2010-01-01" max="2024-06-19" placeholder="Fecha de fin de la vigencia" @bind="_poliza.FechaFinVigencia">
            <label for="fecha-fin" class="form-label">Fecha de fin de la vigencia</label>
            <div class="invalid-feedback">
                La fecha de inicio de vigencia de la póliza no puede<br>ser posterior a su fecha de finalización
            </div>
        </div>
        <div class="form-floating mb-3">
            <select name="vehiculo-id" class="form-control" id="vehiculo-id" type="text" placeholder="Id del vehículo" @bind="_poliza.VehiculoId">
                @if(_vehiculos != null){
                    foreach (var vehiculo in _vehiculos)
                    {
                        <option value=@(vehiculo.Id)>
                            Id: @vehiculo.Id - Dominio: @vehiculo.Dominio
                        </option>
                    }
                }
                else{
                    <option value="0">
                        Aún no hay vehículos disponibles
                    </option>
                }
            </select>
            <label for="vehiculo-id" class="form-label">Id del vehículo</label>
        </div>
        <button @onclick="Cerrar" class="btn btn-success btn-ingresar">@if(_modificar){<span>Modificar</span>}else{<span>Agregar</span>}</button>
    </div>
}

@code{
    [Parameter] public int Id {get; set;}
    [Parameter] public EventCallback CerrarDialogo{get; set;}
    [Parameter] public EventCallback<string> OnError{get; set;}
    [Parameter] public bool Visible {get; set;} = false;
    bool _modificar = false;
    Poliza _poliza = new Poliza();
    List<Vehiculo>? _vehiculos = null;
    string _classFecha = "";

    protected override void OnParametersSet() 
    {
        if(Id != 0){
            var _polizaEncontrada = GetPolizaUseCase.Ejecutar(Id);
            if(_polizaEncontrada != null){
                _modificar = true;
                _poliza = _polizaEncontrada;
            }
        }
        _vehiculos = ListarVehiculosUseCase.Ejecutar();
    }
    void Cerrar(){
        Error error;
        if (_poliza.FechaInicioVigencia < _poliza.FechaFinVigencia)
        {
            error = _modificar ? ModificarPolizaUseCase.Ejecutar(_poliza) : AgregarPolizaUseCase.Ejecutar(_poliza);
            
            if(error.Mensaje != "") OnError.InvokeAsync(error.Mensaje);
            else CerrarDialogo.InvokeAsync();
        }
        else _classFecha = "is-invalid";
    }
}