@inject ListarTitularesUseCase ListarTitularesUseCase;

<h1>Listado de titulares @if(ConVehiculos){<span>con sus vehículos</span>}</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Dirección</th>
      <th>DNI</th>
      <th>Teléfono</th>
      <th>Email</th>
      @if (ConVehiculos)
      {
        <th>Dominio</th>
        <th>Marca</th>
        <th>Año de fabricación</th>
      }
    </tr>
  </thead>
  <tbody>
    @foreach (var titular in listaTitulares)
    {
      <tr>
        <th>@titular.Nombre</th>
        <th>@titular.Apellido</th>
        <th>@titular.Direccion</th>
        <th>@titular.DNI</th>
        <th>@titular.Telefono</th>
        <th>@titular.Email</th>
      </tr>
      if (ConVehiculos)
      {
        foreach (var vehiculo in titular.Vehiculos)
        {
          <tr>
            <th colspan="6">Vehículo @(titular.Vehiculos.IndexOf(vehiculo) + 1)</th>
            <th>@vehiculo.Dominio</th>
            <th>@vehiculo.Marca</th>
            <th>@vehiculo.AñoFabricacion</th>
          </tr>
        }
      }
    }
  </tbody>
</table>

@code {
  [Parameter] public bool ConVehiculos { get; set; } = false;
  List<Titular> listaTitulares = new List<Titular>(); protected override void
  OnInitialized() => listaTitulares = ListarTitularesUseCase.Ejecutar();
} 
