@inject ListarTitularesUseCase ListarTitularesUseCase;
@inject NavigationManager Navigator

<h1>Listado de titulares @if(ConVehiculos){<span>con sus vehículos</span>}</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Dirección</th>
      <th>DNI</th>
      <th>Teléfono</th>
      <th>Email</th>
      <th>Modificar</th>
      <th>Eliminar</th>
      @if (ConVehiculos)
      {
        <th>Dominio</th>
        <th>Marca</th>
        <th>Año de fabricación</th>
      }
    </tr>
  </thead>
  <tbody>
    @foreach (var titular in listaTitulares)
    {
      <tr>
        <td>@titular.Id</td>
        <td>@titular.Nombre</td>
        <td>@titular.Apellido</td>
        <td>@titular.Direccion</td>
        <td>@titular.DNI</td>
        <td>@titular.Telefono</td>
        <td>@titular.Email</td>
        <td><button class="btn btn-primary" @onclick="()=>Modificar(titular.Id)"><span class="oi oi-pencil"></span></button></td>
        <td><button class="btn btn-danger" @onclick="Eliminar"><span class="oi oi-trash"></span></button></td>
      </tr>
      if (ConVehiculos)
      {
        foreach (var vehiculo in titular.Vehiculos)
        {
          <tr>
            <td colspan="8">Vehículo @(titular.Vehiculos.IndexOf(vehiculo) + 1)</td>
            <td>@vehiculo.Dominio</td>
            <td>@vehiculo.Marca</td>
            <td>@vehiculo.AñoFabricacion</td>
          </tr>
        }
      }
    }
  </tbody>
</table>

@code {
  [Parameter] public bool ConVehiculos { get; set; } = false;
  List<Titular> listaTitulares = new List<Titular>(); protected override void
  OnInitialized() => listaTitulares = ListarTitularesUseCase.Ejecutar();

  void Modificar(int id)
  {
    Navigator.NavigateTo($"/titulares/nuevo/{id}");
  }

  void Eliminar()
  {

  }
} 
