@inject ListarTercerosUseCase ListarTercerosUseCase;

<h1>Listado de terceros</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Nombre de la aseguradora</th>
      <th>DNI</th>
      <th>Telefono</th>
      <th>Id del siniestro</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var tercero in listaTerceros)
    {
      <tr>
        <td>@tercero.Id</td>
        <td>@tercero.Nombre</td>
        <td>@tercero.Apellido</td>
        <td>@tercero.NombreAseguradora</td>
        <td>@tercero.DNI</td>
        <td>@tercero.Telefono</td>
        <td>@tercero.SiniestroId</td>
      </tr>
    }
  </tbody>
</table>

@code {
    List<Tercero> listaTerceros = new List<Tercero>(); protected override
    void OnInitialized() => listaTerceros = ListarTercerosUseCase.Ejecutar();
} 

