@inject ListarPolizasUseCase ListarPolizasUseCase;

<h1>Listado de pólizas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Valor asegurado</th>
      <th>Franquicia</th>
      <th>Tipo de cobertura</th>
      <th>Fecha de inicio de vigencia</th>
      <th>Fecha de fin de vigencia</th>
      <th>Id del vehículo</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var poliza in listaPolizas)
    {
      <tr>
        <td>@poliza.Id</td>
        <td>@poliza.ValorAsegurado</td>
        <td>@poliza.Franquicia</td>
        <td>@poliza.TipoDeCobertura</td>
        <td>@poliza.FechaInicioVigencia.ToShortDateString()</td>
        <td>@poliza.FechaFinVigencia.ToShortDateString()</td>
        <td>@poliza.VehiculoId</td>
      </tr>
    }
  </tbody>
</table>

@code {
  List<Poliza> listaPolizas = new List<Poliza>(); protected override void
  OnInitialized() => listaPolizas = ListarPolizasUseCase.Ejecutar();
} 
